
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} - {{ author.name }}'s Blog</title>
   <meta name="author" content="{{ author.name }}" />
   <meta name="google-site-verification" content="kcwqSOIUD45pdwQpCs4vO0hiOumWyJ42j_zp4Oc1eHE" />
   <link rel='me' href='http://www.google.com/profiles/ian.mulvany'>
   <link rel="alternate" type="application/rss+xml" title="partially attended" href="http://partiallyattended.com/atom.xml"/>
   <!-- <link href="http://feeds.feedburner.com/hackerific" rel="alternate" title="Matt Foster" type="application/atom+xml" /> -->

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- CSS -->
    {% stylesheet app %}
    {% stylesheet jasny-bootstrap.min.css %}
    {% stylesheet navmenu-push.css %}
    {% stylesheet fluidbox.css %}

</head>
